.button
  border-radius: 4px
  border: none
  background-color: $active-color
  color: $text-color-light
  font-size: 14px
  padding: 12px 22px
  &-o
    background-color: transparent
    border: 1px solid rgba(#373737, 0.5)
    padding: -1px
    color: rgba($text-color-dark, 0.5) 
    margin-right: 10px
  &-big 
    padding: 19px 30px
    max-height: 57px
  