@media (max-width: 576px)
  .header
    display: flex
    &-logo
      justify-content: center
      align-items: center
      background: url(../img/logo-mobile.png) center no-repeat $active-color
      border-radius: 4px
      height: 35px
      width: 35px
    &-contacts
      &__phone
        font-size: 14px
        margin-right: 0
        &s
          flex-direction: column
        &:first-child
          border: none
      &__button
        span
          display: none
        padding: 9px
        display: inline-block
  .main
    text-align: center
    padding-top: 50px
    padding-bottom: 58px
    &-img
      display: none
    &-text
      &__title
        font-size: 22px
        font-weight: 700
        line-height: 24px
        color: $active-color
      &__subtitle
        font-size: 18px
        font-weight: 400
      &__form
        background-color: transparent
        padding: 0
  .form
    &-title
      padding-right: 0
      font-size: 15px
      font-weight: 300
      line-height: 18px
      span
        margin-top: 14px
        font-weight: 700
        text-transform: uppercase
    &-subtitle
      margin-left: 0
    &-button 
      margin-bottom: 16px
  .f-input
    margin-right: 0
    max-width: 290px
@media (max-width: 768px)
  .header
    &-logo
      background: url(../img/logo-mobile.png) center no-repeat $active-color
      padding: 5px
      width: 35px
      height: 35px
      border-radius: 4px
@media (max-width: 960px)
    .features    
      &-block
        flex-basis: 100%
        padding: 20px 10px
        margin-bottom: 8px
        
    .numbers
      &-block
        width: 100% 
        margin-bottom: 24px
    .products
      &-block
        margin-bottom: 30px

@media (max-width: 576px)
  .production
    &-title
      width: 100%
      left: 0
      padding-left: 0px
      padding-right: 0px
      text-align: center
    &-descr
      text-align: center
      width: 100%
      order: 0
    &-slider
      &-up
        width: 100%
      &-down
        display: none


   
      

        
          
